<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Fonts -->
     <link rel="preconnect" href="https://fonts.bunny.net">
     <link href="https://fonts.bunny.net/css?family=figtree:400,600&display=swap" rel="stylesheet" />

     <!-- Styles -->
     <script src="https://cdn.tailwindcss.com"></script>
      
  <!-- Ionicons Script -->
  <script src="https://unpkg.com/ionicons@5.5.0/dist/ionicons/ionicons.esm.js" type="module"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.0/dist/ionicons/ionicons.js"></script>

    <title>home</title>
</head>
<body class="bg-[#FBF4FA]">
    <nav class="w-full flex justify-between items-center px-4 p-0 border-b-4 border-[#C447AF] ">
        <!-- logo -->
         <div class="w-auto">
             <img class="w-[20%] mx-4" src="../../../images/logo.png" alt="logo">
         </div>
         
         <ul class="flex gap-16  list-none">
            <li class="relative group cursor-pointer">
                <a href="#" class="flex flex-col items-center font-md hover:font-bold text-[#C447AF]">
                  <ion-icon name="home-outline" class="text-3xl"></ion-icon>
                  <span class="text-sm mt-1  transition-opacity duration-300">Home</span>
                </a>
              </li>

            <li class="relative group cursor-pointer">
              <a href="#" class="flex flex-col items-center font-md hover:font-bold text-[#C447AF]">
                <ion-icon name="checkmark-done-outline" class="text-3xl"></ion-icon>
                <span  class="text-sm mt-1  transition-opacity duration-300">Test</span>
              </a>
            </li>
            <li class="relative group cursor-pointer">
              <a href="#" class="flex flex-col items-center font-md hover:font-bold text-[#C447AF]">
                <ion-icon name="fitness-outline" class="text-3xl "></ion-icon>
                <span class="text-sm mt-1  transition-opacity duration-300">Exercices</span>
              </a>
            </li>
            <li class="relative group cursor-pointer">
              <a href="#" class="flex flex-col items-center font-md hover:font-bold text-[#C447AF]">
                <ion-icon name="bulb-outline" class="text-3xl " ></ion-icon>
                <span  class="text-sm mt-1  transition-opacity duration-300">Conseils</span>
              </a>
            </li>
            <li class="relative group cursor-pointer">

                <a href="#" class="flex flex-col items-center font-md hover:font-bold text-[#C447AF]">
                    <ion-icon name="person-circle-outline" class="text-3xl " style="--ionicon-stroke-width: 2px;"></ion-icon>
                    <span class="text-sm mt-1  transition-opacity duration-300">Profil</span>
                </a>
            </li>
              
          </ul>

    </nav>
    <div class="flex">
    <div class="w-[30%] p-12 m-8 text-lg">
        <p>Find Your Inner Balance 
        In a world that moves too fast, taking a moment for yourself is essential. 
        Our platform helps you manage daily stress with breathing exercises, guided meditation sessions, 
        and personalized tracking. Discover simple and effective tools to calm your mind, improve your well-being,
         and achieve lasting serenity. Take control of your well-being today!</p>
    </div>
    <div>
      <!-- <img class="rounded-[40px] w-3/4 mt-[10px] mx-12" src="../../../images/photo2.png"> -->
    </div>


    </div>
    <div class="relative bg-white border border-[#C447AF]  p-24 m-3  rounded-[20px] mx-44 flex gap-3 justify-center">
      <div class="bg-[#C447AF] p-14 w-1/6 rounded-[20px]"></div>
      <div class="bg-[#C447AF] p-14 w-1/6 rounded-[20px]"></div>
      <div class="bg-[#C447AF] p-14 w-1/6 rounded-[20px]"></div>
    </div>
    

</body>
</html> 